<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Message Bank</title>
<nav>
  <h1>Message Bank</h1>
  <!-- <b>Navigation:</b> -->
  <ul>
    <li><a href="{{url_for('submit')}}">Submit a message</a></li>
    <li><a href="{{url_for('view')}}">View messages</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}
  <p>Hello! Click the first link to submit a message, or click the second link to see what others have said!
  {% endblock %}
</section>